<template>
<div>
<Header></Header> 
        
        
<section id="content"> 
    <div class="container">
         <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input name="txtSMobileNo" type="text" maxlength="20" id="txtSMobileNo" class="form-control1 numericfield">
          <label for="txtSMobileNo">Mobile Number </label>
        </div>
        <div class="input-field col s6">
          <input name="txtSName" type="text" maxlength="30" id="txtSName" class="form-control1">
          <label for="txtSName">Full Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="txtCompName" type="text" maxlength="30" id="txtCompName" class="form-control1">
          <label for="txtCompName">Company Name (if applicable)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="txtSEmail" type="text" maxlength="30" id="txtSEmail" class="form-control1">
          <label for="txtSEmail">Email </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
        
        <select name="ddSOrigin" id="ddSOrigin" class="browser-default form-control1 valid" aria-invalid="false">
            <option value="" selected disabled>Origin</option>
            <option value="GBR">United Kingdom</option>
        </select>
          
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input name="ddSPostCode" type="text" maxlength="10" onchange="" onkeypress="" id="ddSPostCode" class="form-control1">
          <label for="txtSEmail">Postcode  </label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input name="txtPostalTown" type="text" maxlength="10" id="txtPostalTown" class="form-control1">
          <label for="txtSEmail">City </label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="ddAddress" class="materialize-textarea" length="120"></textarea>
            <label for="textarea1">Address</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input name="txtCMobileNo" type="text" maxlength="20" id="txtCMobileNo" class="form-control1">
          <label for="txtCMobileNo">Mobile Number </label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input name="txtCName" type="text" maxlength="30" id="txtCName" class="form-control1">
          <label for="txtCName">Name </label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <input name="txtCompName" type="text" maxlength="30" id="5" class="form-control1">
          <label for="txtCompName">Company Name(if applicable) </label>
        </div>
      </div>

     <div class="row">
        <div class="input-field col s12">
       
        <select name="CountryCode" id="CountryCode" class="form-control1 valid">
        <option value="" selected disabled>Destination</option>
            <option value="AL">Albania</option>
<option value="DZ">Algeria</option>
<option value="AS">American Samoa</option>
<option value="AD">Andorra</option>
<option value="AO">Angola</option>
<option value="AI">Anguilla</option>
<option value="AG">Antigua</option>
<option value="AR">Argentina</option>
<option value="AM">Armenia</option>
<option value="AW">Aruba</option>
<option value="AU">Australia</option>
<option value="AT">Austria</option>
<option value="AZ">Azerbaijan</option>
<option value="">Azores</option>
<option value="BS">Bahamas</option>
<option value="BH">Bahrain</option>
<option value="">Balearic Islands</option>
<option value="BD">Bangladesh</option>
<option value="BB">Barbados</option>
<option value="">Barbuda</option>
<option value="BY">Belarus</option>
<option value="BE">Belgium</option>
<option value="BZ">Belize</option>
<option value="BJ">Benin</option>
<option value="BM">Bermuda</option>
<option value="BT">Bhutan</option>
<option value="BO">Bolivia</option>
<option value="AN">Bonaire</option>
<option value="BA">Bosnia-Herzegovina</option>
<option value="BW">Botswana</option>
<option value="BR">Brazil</option>
<option value="BN">Brunei</option>
<option value="BG">Bulgaria</option>
<option value="BF">Burkina Faso</option>
<option value="BI">Burundi</option>
<option value="KH">Cambodia</option>
<option value="CM">Cameroon</option>
<option value="CA">Canada</option>
<option value="IC">Canary Islands</option>
<option value="CPV">Cape Verde</option>
<option value="CYM">Cayman Islands</option>
<option value="CF">Central African Rep</option>
<option value="TD">Chad</option>
<option value="CL">Chile</option>
<option value="CN">China</option>
<option value="CO">Colombia</option>
<option value="CG">Congo</option>
<option value="COD">Congo Dem. Rep</option>
<option value="CK">Cook Islands</option>
<option value="">Corsica</option>
<option value="CR">Costa Rica</option>
<option value="HR">Croatia</option>
<option value="XC">Curacao</option>
<option value="CY">Cyprus</option>
<option value="CZ">Czech Republic</option>
<option value="DK">Denmark</option>
<option value="DJ">Djibouti</option>
<option value="DM">Dominica</option>
<option value="DO">Dominican Republic</option>
<option value="EC">Ecuador</option>
<option value="EG">Egypt</option>
<option value="SV">El Salvador</option>
<option value="GQ">Equatorial Guinea</option>
<option value="ER">Eritrea</option>
<option value="EE">Estonia</option>
<option value="ET">Ethiopia</option>
<option value="FRO">Faroe Islands</option>
<option value="FJ">Fiji</option>
<option value="FI">Finland</option>
<option value="FR">France - Others</option>
<option value="FR">France - Paris (75-95)</option>
<option value="GF">French Guiana</option>
<option value="PYF">French Polynesia</option>
<option value="GA">Gabon</option>
<option value="GE">Georgia</option>
<option value="DE">Germany</option>
<option value="GH">Ghana</option>
<option value="GI">Gibraltar</option>
<option value="GR">Greece</option>
<option value="GL">Greenland</option>
<option value="GD">Grenada</option>
<option value="GP">Guadeloupe</option>
<option value="GU">Guam </option>
<option value="GT">Guatemala</option>
<option value="GG">Guernsey</option>
<option value="GN">Guinea</option>
<option value="GW">Guinea-Bissau</option>
<option value="GY">Guyana</option>
<option value="HT">Haiti</option>
<option value="HN">Honduras</option>
<option value="HK">Hong Kong</option>
<option value="HU">Hungary</option>
<option value="IS">Iceland</option>
<option value="IN">India</option>
<option value="ID">Indonesia</option>
<option value="IR">Iran</option>
<option value="IQ">Iraq</option>
<option value="IE">Ireland</option>
<option value="IL">Israel</option>
<option value="IT">Italy</option>
<option value="CI">Ivory Coast</option>
<option value="JM">Jamaica</option>
<option value="JP">Japan</option>
<option value="JE">Jersey</option>
<option value="JO">Jordan</option>
<option value="KZ">Kazakhstan</option>
<option value="KE">Kenya</option>
<option value="">Korea, South</option>
<option value="KW">Kuwait</option>
<option value="KG">Kyrgyzstan</option>
<option value="LA">Laos</option>
<option value="LV">Latvia</option>
<option value="LB">Lebanon</option>
<option value="LS">Lesotho</option>
<option value="LR">Liberia</option>
<option value="LY">Libya</option>
<option value="LI">Liechtenstein</option>
<option value="LT">Lithuania</option>
<option value="LU">Luxembourg</option>
<option value="MO">Macau</option>
<option value="MK">Macedonia</option>
<option value="MG">Madagascar</option>
<option value="">Madeira</option>
<option value="MW">Malawi</option>
<option value="MY">Malaysia</option>
<option value="MV">Maldives</option>
<option value="ML">Mali</option>
<option value="MT">Malta</option>
<option value="MH">Marshall Islands</option>
<option value="MQ">Martinique</option>
<option value="MR">Mauritania</option>
<option value="MU">Mauritius</option>
<option value="MX">Mexico</option>
<option value="FSM">Micronesia</option>
<option value="MD">Moldova</option>
<option value="MC">Monaco</option>
<option value="MN">Mongolia</option>
<option value="MS">Monserrat</option>
<option value="MA">Morocco</option>
<option value="MZ">Mozambique</option>
<option value="MM">Myanmar</option>
<option value="NA">Namibia</option>
<option value="NP">Nepal</option>
<option value="NL">Netherlands</option>
<option value="NL">Netherlands Antilles</option>
<option value="NCL">New Caledonia</option>
<option value="NZ">New Zealand</option>
<option value="NI">Nicaragua</option>
<option value="NE">Niger</option>
<option value="NG">Nigeria</option>
<option value="">Northern Ireland</option>
<option value="NO">Norway</option>
<option value="OM">Oman</option>
<option value="">Pacific Islands</option>
<option value="PK">Pakistan</option>
<option value="PW">Palau</option>
<option value="PA">Panama</option>
<option value="PG">Papua New Guinea</option>
<option value="PY">Paraguay</option>
<option value="PE">Peru</option>
<option value="PH">Philippines</option>
<option value="PO">Poland</option>
<option value="PT">Portugal</option>
<option value="PR">Puerto Rico</option>
<option value="QA">Qatar</option>
<option value="RE">Reunion Islands</option>
<option value="RO">Romania</option>
<option value="RU">Russia - Moscow</option>
<option value="RU">Russia - Others</option>
<option value="RW">Rwanda</option>
<option value="">Saba</option>
<option value="MP">Saipan</option>
<option value="SMR">San Marino</option>
<option value="">Sardinia</option>
<option value="SAU">Saudi Arabia</option>
<option value="SEN">Senegal</option>
<option value="RS">Serbia &amp; Montenegro</option>
<option value="SC">Seychelles</option>
<option value="SL">Sierra Leone</option>
<option value="SG">Singapore </option>
<option value="SK">Slovakia</option>
<option value="SI">Slovenia</option>
<option value="ZA">South Africa</option>
<option value="ES">Spain</option>
<option value="LK">Sri Lanka</option>
<option value="LK">Srilanka</option>
<option value="LC">St Lucia</option>
<option value="SM">St Maarten</option>
<option value="VC">St Vincent</option>
<option value="AA">St. Barthelemy</option>
<option value="SS">St. Eustatius</option>
<option value="KN">St. Kitts &amp; Nevis</option>
<option value="SD">Sudan</option>
<option value="SR">Suriname</option>
<option value="SZ">Swaziland</option>
<option value="SE">Sweden</option>
<option value="CH">Switzerland</option>
<option value="SY">Syria</option>
<option value="TW">Taiwan</option>
<option value="TJ">Tajikistan</option>
<option value="TZ">Tanzania</option>
<option value="TH">Thailand</option>
<option value="TG">Togo</option>
<option value="TT">Trinidad &amp; Tobago</option>
<option value="TN">Tunisia</option>
<option value="TR">Turkey</option>
<option value="TM">Turkmenistan</option>
<option value="TC">Turks &amp; Caicos</option>
<option value="AE">UAE</option>
<option value="UG">Uganda</option>
<option value="UA">Ukraine</option>
<option value="UY">Uruguay</option>
<option value="">USA</option>
<option value="UZ">Uzbekistan</option>
<option value="VU">Vanuatu</option>
<option value="VA">Vatican City</option>
<option value="VE">Venezuela</option>
<option value="VM">Vietnam</option>
<option value="VG">Virgin Islands</option>
<option value="WF">Wallis &amp; Fortuna</option>
<option value="YE">Yemen, Rep of</option>
<option value="ZM">Zambia</option>
<option value="ZW">Zimbabwe</option>
<option value="">TCS</option>
<option value="GB">UK</option>
        </select>
          
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input name="ddSPostCode" type="text" maxlength="10" onchange="" onkeypress="" id="ddSPostCode" class="form-control1">
          <label for="txtSEmail">Postcode  </label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input name="txtPostalTown" type="text" maxlength="10" id="txtPostalTown" class="form-control1">
          <label for="txtSEmail">City </label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="ddAddress" class="materialize-textarea" length="120"></textarea>
            <label for="textarea1">Address</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <input name="txtCMobileNo" type="text" maxlength="20" id="txtCMobileNo" class="form-control1">
          <label for="txtCMobileNo">Mobile Number </label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <input name="txtCMobileNo" type="text" maxlength="20" id="txtCMobileNo" class="form-control1">
          <label for="txtCMobileNo">Mobile Number </label>
        </div>
      </div>
    </form>
    </div>
</section>
</div>
  <Footer></Footer>
</template>



<script>
    import Header from './Layouts/header.vue';
    import Footer from './Layouts/footer.vue';
    export default{
        components: {
            Header: Header,
            Footer: Footer
        }
    }
</script>