/*
Author URI: http://webthemez.com/
Note: Licence under Creative Commons Attribution 3.0  
-------------------------------------------------------*/

@import url('http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700'); 
@import url('font-awesome.css');  
@import url('animate.css');

       @font-face {
           font-family: Montserrat-SemiBold;
             src: url(../fonts/Montserrat-SemiBold.otf);
        }
        @font-face {
             font-family: Montserrat-ExtraBold;
             src: url(../fonts/Montserrat-ExtraBold.otf);
        }

        @font-face {
             font-family: Montserrat;
             src: url(../fonts/Montserrat-Regular.otf);
        }
        @font-face {
             font-family: Montserrat-Medium;
             src: url(../fonts/Montserrat-Medium.ttf);
        }
.swal2-container input.select-dropdown.dropdown-trigger
{
    display: none;
}
.info{
    margin-bottom: 0;

}
.topbar ul.info span:last-child {
    border-right: 0;
}
.container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
body {
	font-family:'Montserrat';
	font-weight:300;
	line-height:1.6em;
	color:#656565;
	font-size: 1.4em;
	background: #f5f5f5;
}
.open>.dropdown-menu {
 
    z-index: 9999;
    text-align: left;
}
.open>.dropdown-menu a{
    text-align: left;
}
.get-quote
{
    float:right !important;
    margin-right:1%;
}

#track{
  position: relative;
  margin-bottom: 30px;
}
.topbar .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
}
.topbar .container .col-sm-9
{
  padding: 0;
}
.account
{
  padding-top:44px;
  padding-bottom:44px;
  text-align:right;
  padding-right:20px;
  background:#fff;
  
}
.account span a
{
  vertical-align: middle;
  color:#656565;
  font-family: 'Montserrat-Medium';
  font-size:18px;
  text-transform:uppercase;
  padding-left:10px;
}
#content .container
{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    color: #858585;
}
.phn{
    height: 125px;
    width: auto;
}
.features
{
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 20px;
}
.features .col{
    color: #858585;
    border-right: 1px solid #8E8C8C;
    padding: 50px 75px;
    font-size: 18.5px;
}
.features .col:last-child
{
    border-right: 0;
}
.features .col p{
    margin-top: 50px;
}
.profile
{
    left: unset;
border: 1px solid #d3d3d3 !important;
border-radius: 4px !important;
box-shadow: 0 1px 8px 0 rgb(118 118 118 / 30%) !important;
}
.caret {
    margin-left: 5px !important;
}
.dropdown-menu
{
 z-index:9999;
 min-width:200px;
}

.cpage
{
 overflow-x:auto;
}
.stepper.linear
{
  height:658px;
}
.select-wrapper .caret {
    display: none;
}
.city_pakistan
{
  display:none;
}
.desktop_hidden
{
  display:none;
}
.card.reg_card form {
    padding: 50px !important;
}
.alert-success, .alert-warning,.alert-danger{
margin-top:50px;
}
#d_address_1,#address_1
{
    padding: 10px;
    border-radius: 10px;
    background: grey;
    background-color: #f6f6f6;
    background-clip: padding-box;
    border: 1px solid #d5d5d5;
}
.reg_card label {
    text-align: left;
    float: left;
}
input.waves-button-input
{
  padding:0 10px !important;
}
#dropdown
{
  z-index:99999;
}
.step-content h3
{
 color:#d6010d;
}
ul.stepper.horizontal .step .step-title {
   
   
}
.btn_feature
{
    width: 146px;
    height: 31px;
    background: #858585;
    border-radius: 10px !important;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border: none;
    font-family: 'Montserrat' !important;
}
button.btn.quote_btn
{
 
  color:#E30613 !important;
  background-color:#fff !important;
  font-weight: 600;
  width:100%;
  border-radius: 0 !important;
  height: 50px;
  font-weight: 700;

}
i.btn
{
  border-radius:50px;
  padding:0px;
}
.quoteForm .row {
    margin-bottom: 0px;
    padding: 15px 32px;
}
.quoteForm label
{
   color:#fff;
}
.flex-caption
{
  width:83.2% !important;
}
#tracking-form
{
 margin-bottom: 20px;
 width: 50%;
 margin: auto;
 margin-top: 50px;
}

.desktop_hidden #tracking-form
{
 margin-bottom: 30px;
 position: absolute;
 width: 100%;
}
#tracking_id
{
    width: calc(100% - 21px) !important;
    height: 50px !important;
    border-radius: 10px !important;
    font-size: 16px !important;
    border: 1px solid #8E8C8C !important;
}
input#tracking_id::placeholder {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #8E8C8C;
}
.track_btn
{
    position: absolute;
    padding-right: 25px;
    top: 8px;
    text-align: left;
    padding-left: 25px;
    right: 8px;
    height: 40px;
    width: 190px;
    border-radius: 5px !important;
    background-color: #d6010d;
    color: #fff;
    border: none;
    vertical-align: middle;
    font-size: 17px;
    line-height: 30px;
}
.inter{
    border-radius: 30px 30px 0px 0px;
    background: #fff;
    
}
.inter h2
{
    color: #E30613;
    margin: 0;
    font-weight: 600;
    padding: 22px 0;
    font-size: 28px;
}
#tracking-form svg
{
    float: right;
}
.flex-caption input
{
  width:70% !important;
}
.card
{
  z-index: 99999;
}
i.btn input
{
    text-align: center !important;
    color: #FFFFFF;
    background: #d6010d !important;
    border-color: #d6010d !important;
    width: auto;
    margin-top: 0;
}
.space
{
 padding-top:30px;
}
.invalid {
    color: red !important;
}
.select-wrapper .caret {

    bottom: 10px !important;

}
input#logout
{

    color: #676767;
    text-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0) !important;
    font-size: 13px;
    border: none;
    font-weight: 600 !important;
    text-transform: uppercase;
    margin-left: 2px;
    line-height: 40px;
    font-weight: 700;
    transition: all .3s ease;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    background-color:none !important;
    line-height:2.8px;
   
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.logout-btn
{
background-color:#1e1e1e !important;
border:none !important;
color:#ff0000 !important;
margin-bottom:0px;
height:43px !important;
}
.center_btn
{
 text-align:center !important;
 float:none !important;
 margin-bottom:10px;
}
.reg_card .btn
{
    width:250px !important;
}
.reg_card .card-body
{
   padding-top:0px; 
}
.reg_card .card-header
{
    font-size:30px;
}
.reg_card {
    margin: 50px 100px;
    padding: 10px 100px;
    text-align:center;
}
.swal2-styled.swal2-confirm {
 
    background-color: #d6010d !important;
}
#quoteForm
{
 background:#d6010d;
 padding:20px 50px;
 border-radius: 0 0 30px 30px;
}
#quoteForm input
{
 margin: auto;
    float: left;
    height: 45px !important;
    width: 110% !important;
    font-family: Montserrat;
    font-style: normal;
    padding: 2px 6px;
    font-weight: 500;
    font-size: 15px !important;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #8E8C8C;
    text-align: center;
}
#quoteForm label {
    float: left;
    width: 100%;
    display: block;
    text-align: left;
}
#sendto{
    padding-left: 8%;
    width: 34.5%;
}
header ul.nav li a {
font-size: 17px;
    }

#quoteForm select {
    display: none !important;
    color:#000 ;
    width:auto !important;
    height:auto !important;
    opacity:1 !important;
    position:inherit !important;
    pointer-events: auto !important;
}
#tracking-form
{
    width: 60%;
}
#loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.75) url(../img/loader2.gif) no-repeat center center;
  background-size:100px;
  z-index: 99999;
}
#tarrif
{
    background-image: none;
    background-size: 85px 85px;
    background-position: right center;
    background-repeat: no-repeat;
}

#btnCalcTarrif
{
  margin-top:8%;
}
#lblvol
{
 display:block;
}
.modal
{
 display:none !important;
}
.step-actions
{
 position:relative !important;

}
.center
{
text-align:center;
}
.book-btn
{
 margin:5px auto 10px auto;
}
.booking-form .row .col
{
  padding: 0 20px;
}
.dishes h2, .dishes p
{
color: #8E8C8C !important;
}
.dishes p
{
font-weight: 500;
font-size: 17px;
line-height: 22px;
margin-top: 25px;
}

input
{
  height: 2rem !important;
  display: block;
    width: 100%;
    height: calc(17px + 18px + 0px) !important;
    padding: 2px 6px 3px 15px !important;
    font-size: 13px !important;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 5px !important;
    color: #495057;
    background-color: #f6f6f6 !important;
    background-clip: padding-box;
    border: 1px solid #d5d5d5 !important;
    border-radius: 50px !important;
}
#reg,.reg
{
   display:block;
   color: blue !important;
}
.btn-link
{
    border-radius: 50px !important;
    width: 220px;
    margin-top:20px;
    margin-bottom:40px;
}
label
{
  font-size:1.3rem;
  margin-bottom:0;
  margin-left:5px;
  line-height:41px;
}
#txtLength,#txtWidth,#txtHeight
{
    padding: 0px !important;
    text-align:center;
    
}
.card-header
{
  border-bottom:1px solid rgba(160,160,160,0.2);
  padding:4%;
  color:#d6010d;
}
ul.stepper .step.active::before, ul.stepper .step.done::before,ul.stepper.horizontal .step.active .step-title::before, ul.stepper.horizontal .step.done .step-title::before {
    background-color: #d6010d
}
.input-field>label
{
 top:-8px;
}
.dishes h2,.dishes p
{
  color:#fff;
}
textarea.materialize-textarea {
    resize: auto
}
.row.service-v1 .col-md-4.md-margin-bottom-40
{
  display:flex;
  float:left;
}
.row.service-v1
{
  display:flex;
}
a {
    color: #ff0000;
    text-decoration: none;
}
.card .card-image .card-title
{
  border-bottom: 4px solid #d6010d;
}
.dropdown-menu
{
right:0 !important;
}
.logo
{
  width:275px;
    position: absolute;
    top: -78px;
    left: 31px;

}
.navbar-header a
{
  margin-top:0px;
}
a:active {
	outline:0;
}

.clear {
	clear:both;
}

h1,h2{
	font-weight: 600;
	line-height:1.1em;
	color: #252525;
	margin-bottom: 20px;
	text-transform: uppercase;
}
h3, h4, h5, h6 {
	line-height:1.1em;
	color: #212121;
	margin-bottom: 20px;
}
input, button, select { 
    border-radius: 50px !important;
}
.timetable{background: #2ab975;padding: 5px 23px;}
.timetable hr{
	color:#fff;
	padding-top: 29px;
	margin-bottom: 20px !important;
}
.timetable dl{
	color:#fff; 
}
.timetable dt{
	color:#fff;
}
.timetable dd{
	color:#fff;
}
#wrapper{
	width:100%;
	margin:0;
	padding:0;
    background: #fff;
}
ul.withArrow{
	
}
ul.withArrow li{
	
}
ul.withArrow li span{
	
margin-right: 10px;
	
font-weight: 700;
	
color: #d6010d;
	
border: 1px solid;
	
padding: 4px 8px;
	
font-size: 11px;
	
border-radius: 50%;
	
height: 20px;
	
width: 20px;
}
.widget {
    color: #858585;
}
.row,.row-fluid {
	margin-bottom:30px;
}

.row .row,.row-fluid .row-fluid{
	margin-bottom:30px;
}

.row.nomargin,.row-fluid.nomargin {
	margin-bottom:0;
}
.about-image img {
    width: 100%;
}
img.img-polaroid {
	margin:0 0 20px 0;
}
.img-box {
	max-width:100%;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
    margin-top: 16px;
}
/*  Header
==================================== */
.topbar{
	background-color: #646464;
	padding: 0;
	/* color:#fff; */
}
.topbar a
{
  color:#fff !important;
  font-size:17px;
  font-family:'Montserrat';
}
.topbar .container .row {
    margin: 0;
	padding:0;
}
.topbar .container .row .col-md-12 { 
	padding:0;
}
.topbar p{
	margin:0;
	display:inline-block;
	font-size: 13px;
	color: #f1f6ff;
}
.topbar p > i{
	margin-right:5px;
}
.topbar p:last-child{
	text-align:right;
} 
header .navbar {
    margin-bottom: 0;
}
.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

.topbar li.topbar:hover {
    color: #1bbde8;
}

.topbar ul.info i {
    color: #d6010d;
    font-size: 16px;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}
.topbar .container>.row
{
    display: flex;
}
.topbar ul.info span {
    height: 100%;
    display: inline-block;
    border-right: 1px solid white;
    padding-right: 18px;
    padding-left: 10px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #b0b0b0;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-family: "Rpboto", sans-serif;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}
.navbar-default {
    border: none;
}

.navbar-brand {
    color: #222;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -1px;
    margin-top: 21px;
    padding: 0 0 0 15px;
}
.navbar-default .navbar-brand{color: #5e5e5e;font-size: 24px;text-transform: uppercase;}

header .navbar-collapse  ul.navbar-nav {
    float: right;
    margin-right: 0;
}
header .navbar {min-height: 70px;padding: 18px 0;background: #ffffff;}
.home-page header .navbar-default{
    background: #fff;
    /* position: absolute; */
    width: 100%;
}

header .nav li a:hover,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover,
header .nav li a.dropdown-toggle:hover,
header .nav li a.dropdown-toggle:focus,
header .nav li.active ul.dropdown-menu li a:hover,
header .nav li.active ul.dropdown-menu li.active a{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


header .navbar-default .navbar-nav > .open > a,
header .navbar-default .navbar-nav > .open > a:hover,
header .navbar-default .navbar-nav > .open > a:focus {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


header .navbar {
    min-height: 62px;
    padding: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-bottom: 45px;
}

header  .navbar-nav > li > a {
    /* padding-bottom: 6px; */
    /* padding-top: 5px; */
    padding-top: 17.5px ;
    padding-bottom: 17.5px;
    margin-left: 2px;
    line-height: 13px;
    font-weight: 700;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.services{
	
}
.dishes{	
background: #F1F1F1;
padding: 35px 20px;	
color: #8E8C8C;
}
.dropdown-menu li a:hover {
    color: #fff !important;
    background: #d6010d !important;
}

header .nav .caret {
    border-bottom-color: #646464;
    border-top-color: #646464;

}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color:  #fff;
}	
	

.dropdown-menu  {
    box-shadow: none;
    border-radius: 0;
	border: none;
}

.dropdown-menu li:last-child  {
	padding-bottom: 0 !important;
	margin-bottom: 0;
}

header .nav li .dropdown-menu  {
   padding: 0;
}

header .nav li .dropdown-menu li a {
   line-height: 28px;
   padding: 3px 12px;
}

/* --- menu --- */
.flex-caption p {
    line-height: 22px;
    font-weight: 300;
    color: #ffffff;
    text-transform: capitalize;
}
header .navigation {
	float:right;
}

header ul.nav li {
	border:none;
	margin:0;
}

header ul.nav li a {
	border:none;
	text-transform:uppercase;
        font-weight: 300;
    font-style: normal;
    font-size: 17px;
    color: #4D4E50;
}
.navbar .container
{
  width:100%;
  max-width:100%;
}
header ul.nav li ul li a {	
	font-size:12px;
	border:none;
	font-weight:300;
	text-transform:uppercase;
}


.navbar .nav > li > a {
  color: #676767;
  text-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0) !important;
}

.navbar .nav a:hover {
	background:none;
	color: #2e8eda;
}

.navbar .nav > .active > a,.navbar .nav > .active > a:hover {
	background:none;
	font-weight:700;
}

.navbar .nav > .active > a:active,.navbar .nav > .active > a:focus {
	background:none;
	outline:0;
	font-weight:700;
}

.navbar .nav li .dropdown-menu {
	z-index:2000;
}

header ul.nav li ul {
	margin-top:1px;
}
header ul.nav li ul li ul {
	margin:1px 0 0 1px;
}
.dropdown-menu .dropdown i {
	position:absolute;
	right:0;
	margin-top:3px;
	padding-left:20px;
}

.navbar .nav > li > .dropdown-menu:before {
  display: inline-block;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-bottom-color: none;
  content:none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus 
{color: #e30613;background: none;border-radius: 0;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #1a1a1a;
  background-color: transparent;
}

ul.nav li.dropdown a {
	z-index:1000;
	display:block;
        font-weight: 300;
    font-style: normal;
    font-size: 17px;
    color: #4D4E50;
}

 select.selectmenu {
	display:none;
}
.pageTitle{color: #fff;margin: 30px 0 3px;display: inline-block;font-size: 20px;}
 
#banner{
	width: 100%;
	background:#000;
	position:relative;
	margin:0;
	padding:0;
}

/*  Sliders
==================================== */
/* --- flexslider --- */
#main-slider:before {content: '';width: 100%;height: 100%;background: rgba(0, 0, 0, 0.65);z-index: 1;position: absolute;background: rgba(30, 30, 30, 0.31);}
.flex-direction-nav a{
display:none;
}
.flexslider {
	padding:0;  
	background: #fff; 
	position: relative; 
	zoom: 1;
}
.flex-direction-nav .flex-prev{
left:0px; 
}
.flex-direction-nav .flex-next{ 
right:0px;
}
.flex-caption {position: absolute;
    top: 30%;zoom: 1;bottom: 198px;background-color: transparent;color: #fff;margin: 0;padding: 2px 25px 0px 30px;/* position: absolute; */left: 0;text-align: center;margin: 0 auto;right: 0px;display: inline-block;bottom: 10%;width: 50%;right: 0 !important;border-radius: 15px 15px 0 0;}
.flex-caption h3 {color: #fff;letter-spacing: 0px;margin-bottom: 8px;text-transform: uppercase;font-size: 70px;font-weight: 700;}
.flex-caption p {margin: 12px 0 18px;font-size: 20px;font-weight: 400;}
.skill-home{
margin-bottom:50px;
}
.c1{
border: #ed5441 1px solid;
background:#ed5441;
}
.c2{
border: #24c4db 1px solid;
background:#24c4db;
}
.c3{
border: #1891EC 1px solid;
background:#1891EC;
}
.c4{
border: #609cec 1px solid;
background:#609cec;
}
.skill-home .icons {padding: 38px;width: 94px;height: 94px;color: #fff;font-size: 42px;font-size: 38px;text-align: center;-ms-border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 0;display: inline-table;border: 4px solid #efefef;color: #ff5722;background: transparent;border-radius: 50%;background: #ffffff;}
.skill-home h2 {
padding-top: 20px;
font-size: 36px;
font-weight: 700;
} 
.testimonial-solid {
padding: 50px 0 60px 0;
margin: 0 0 0 0;
background: #FFFFFF;
text-align: center;
}
.testi-icon-area {
text-align: center;
position: absolute;
top: -84px;
margin: 0 auto; 
width: 100%;
}
.testi-icon-area .quote {
padding: 15px 0 0 0;
margin: 0 0 0 0;
background: #ffffff;
text-align: center;
color: #1891EC;
display: inline-table;
width: 70px;
height: 70px;
-ms-border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
font-size: 42px; 
border: 1px solid #1891EC;
display: none;
}

.testi-icon-area .carousel-inner { 
margin: 20px 0;
}
.carousel-indicators {
bottom: -30px;
}
.text-center img {
margin: auto;
}
.aboutUs{
padding:40px 0;
background: #F2F2F2;
}
img.img-center {
margin: 0 auto;
display: block;
max-width: 100%;
}
.home-about{
	padding: 60px 0 0px;
}
.home-about hr{
	padding:0;
	margin:0;
}
.home-about .info-box{
	
}
/* Testimonial
----------------------------------*/
.testimonial-area {
padding: 0 0 0 0;
margin:0;
background: url(../img/low-poly01.jpg) fixed center center;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-ms-background-size: cover;
}
.testimonial-solid p {
color: #000000;
font-size: 16px;
line-height: 30px;
font-style: italic;
} 
section.hero-text {
	background: #F4783B;
	padding:50px 0 50px 0;
	color: #fff;
}
section.hero-text h1{ 
	color: #fff;
}

/* Clients
------------------------------------ */
#clients {
  padding: 60px 0;
  }
  #clients .client .img {
    height: 76px;
    width: 138px;
    cursor: pointer;
    -webkit-transition: box-shadow .1s linear;
    -moz-transition: box-shadow .1s linear;
    transition: box-shadow .1s linear; }
    #clients .client .img:hover {
      cursor: pointer;
      /*box-shadow: 0px 0px 2px 0px rgb(155, 155, 155);*/
      border-radius: 8px; }
  #clients .client .client1 {
    background: url("../img/client1.png") 0 -75px; }
    #clients .client .client1:hover {
      background-position: 1px 0px; }
  #clients .client .client2 {
    background: url("../img/client2.png") 0 -75px; }
    #clients .client .client2:hover {
      background-position: -1px 0px; }
  #clients .client .client3 {
    background: url("../img/client3.png") 0 -76px; }
    #clients .client .client3:hover {
      background-position: 0px 0px; }


/* Content
==================================== */

#content {
	position:relative;
	/* background: #ffffff; */
	padding:50px 0 0px 0;
}
 
.cta-text {
	text-align: center;
	margin-top:10px;
}


.big-cta .cta {
	margin-top:10px;
}
 
.box {
	width: 100%;
}
.box-gray  {
	background: #f8f8f8;
	padding: 20px 20px 30px;
}
.box-gray  h4,.box-gray  i {
	margin-bottom: 20px;
}
.box-bottom {
	padding: 20px 0;
	text-align: center;
}
.box-bottom a {
	color: #fff;
	font-weight: 700;
}
.box-bottom a:hover {
	color: #eee;
	text-decoration: none;
}


/* Bottom
==================================== */

#bottom {
	background:#fcfcfc;
	padding:50px 0 0;

}
/* twitter */
#twitter-wrapper {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
#twitter em {
    font-style: normal;
    font-size: 13px;
}

#twitter em.twitterTime a {
	font-weight:600;
}

#twitter ul {
    padding: 0;
	list-style:none;
}
#twitter ul li {
    font-size: 20px;
    line-height: 1.6em;
    font-weight: 300;
    margin-bottom: 20px;
    position: relative;
    word-break: break-word;
}


/* page headline
==================================== */

#inner-headline{background: #d6010d;position: relative;margin: 0;padding: 0;color: #1891EC;border-top: 1px solid #d6010d;}


#inner-headline h2.pageTitle{
	color: #3f3f3f;
	padding: 5px 0;
	display:block;
	text-align: center;
}

/* --- breadcrumbs --- */
#inner-headline ul.breadcrumb {
	margin:40px 0;
	float:left;
}

#inner-headline ul.breadcrumb li {
	margin-bottom:0;
	padding-bottom:0;
}
#inner-headline ul.breadcrumb li {
	font-size:13px;
	color:#fff;
}

#inner-headline ul.breadcrumb li i{
	color:#dedede;
}

#inner-headline ul.breadcrumb li a {
	color:#fff;
}

ul.breadcrumb li a:hover {
	text-decoration:none;
}

/* Forms
============================= */

/* --- contact form  ---- */
form#contactform input[type="text"] {
  width: 100%;
  border: 1px solid #f5f5f5;
  min-height: 40px;
  padding-left:20px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

form#contactform textarea {
border: 1px solid #f5f5f5;
  width: 100%;
  padding-left:20px;
  padding-top:10px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

form#contactform .validation {
	font-size:11px;
}

#sendmessage {
	border:1px solid #e6e6e6;
	background:#f6f6f6;
	display:none;
	text-align:center;
	padding:15px 12px 15px 65px;
	margin:10px 0;
	font-weight:600;
	margin-bottom:30px;

}

#sendmessage.show,.show  {
	display:block;
}
 
form#commentform input[type="text"] {
  width: 100%;
  min-height: 40px;
  padding-left:20px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	-webkit-border-radius: 2px 2px 2px 2px;
		-moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;

}

form#commentform textarea {
  width: 100%;
  padding-left:20px;
  padding-top:10px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	-webkit-border-radius: 2px 2px 2px 2px;
		-moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
}


/* --- search form --- */
.search{
	float:right;
	margin:35px 0 0;
	padding-bottom:0;
}

#inner-headline form.input-append {
	margin:0;
	padding:0;
}

.about-text h3 {
	font-size: 22px;
	padding-bottom: 20px;
}

.about-text .btn {
	margin-top: 20px;
	
}

.about-image img {
}

.about-text ul {
	margin-top: 30px;
	padding: 0;
}

.about-text li {
	margin-bottom: 10px;

	font-weight: bold;
	list-style: none;
}

 
.about-text-2 img {
	border: 5px solid #ddd;
	margin-bottom: 20px;
}

.about-text-2 p {
	margin-bottom: 20px;
}

#call-to-action {
	background: url(../images/bg/about.jpg) no-repeat;
	background-attachment: fixed;
	background-position: top center;
	padding: 100px 0;
	color: #fff;
}

.call-to-action h3 {
	font-size: 40px;
	letter-spacing: 15px;
	color: #fff;
	padding-bottom: 30px;
}

.call-to-action p {
	color: #999;
	padding-bottom: 20px;
}

.call-to-action .btn-primary {
	background-color: transparent;
	border-color: #999;
}

.call-to-action .btn-primary:hover {
	background-color: #151515;
	color: #999;
	border-color: #151515;
}

#call-to-action-2 {
	background-color: #efefef;
	padding: 50px 0;
}
#call-to-action-2 h3 {
	color: #05142b;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
}
#call-to-action-2 p {
	color: #5f5f5f;
	font-size: 15px;
}
#call-to-action-2 .btn-primary {
	border-color: #FFFFFF;
	/* background: transparent; */
	margin-top: 50px;
	color: #fff;
}
section.section-padding.gray-bg {
    background: #ffffff;
    padding: 60px;
    color: #484848;
}
 
  #accordion-alt3 .panel-heading h4 {
font-size: 13px;
line-height: 28px;
}
.panel .panel-heading h4 {
font-weight: 400;
}
.panel-title {
margin-top: 0;
margin-bottom: 0;
font-size: 15px;
color: inherit;
}
.panel-group .panel {
margin-bottom: 0;
border-radius: 2px;
}
.panel {margin-bottom: 18px;background-color: #FFFFFF;border: 1px solid #f3f3f3;border-radius: 2px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);box-shadow: 0 1px 1px rgba(0,0,0,0.05);}
#accordion-alt3 .panel-heading h4 a i {font-size: 17px;line-height: 18px;width: 18px;height: 18px;margin-right: 8px;color: #A0A0A0;text-align: center;border-radius: 50%;margin-left: 6px;font-weight: bold;}  
.progress.pb-sm {
height: 6px!important;
}
.progress {
box-shadow: inset 0 0 2px rgba(0,0,0,.1);
}
.progress {
overflow: hidden;
height: 18px;
margin-bottom: 18px;
background-color: #f5f5f5;
border-radius: 2px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.progress .progress-bar.progress-bar-red {
background: #ed5441;
} 
.progress .progress-bar.progress-bar-green {
background: #51d466;
}
.progress .progress-bar.progress-bar-lblue {
background: #32c8de;
}
/* --- portfolio detail --- */
.top-wrapper {
	margin-bottom:20px;
}
.info-blocks {margin-bottom: 15px;/* background: #efefef; */}
.info-blocks i.icon-info-blocks {float: left;color: #d6010d;font-size: 40px;min-width: 50px;margin-top: 11px;text-align: center;/* background: #ffffff; */width: 72px;height: 72px;/* padding-top: 21px; *//* border: 1px solid #e0e0e0; */line-height: 75px;}
.info-blocks .info-blocks-in {
padding: 0 10px;
overflow: hidden;
}
.info-blocks .info-blocks-in h3 {color: #202020;font-size: 20px;line-height: 28px;margin:0px;margin-bottom: 8px;/* font-weight: bold; */}
.info-blocks .info-blocks-in p {font-size: 14px;}
  
blockquote {
	font-size:16px;
	font-weight:400;
	font-family:'Noto Serif', serif;
	font-style:italic;
	padding-left:0;
	color:#a2a2a2;
	line-height:1.6em;
	border:none;
}

blockquote cite 							{ display:block; font-size:12px; color:#666; margin-top:10px; }
blockquote cite:before 					{ content:"\2014 \0020"; }
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited 				{ color:#555; }

/* --- pullquotes --- */

.pullquote-left {
	display:block;
	color:#a2a2a2;
	font-family:'Noto Serif', serif;
	font-size:14px;
	line-height:1.6em;
	padding-left:20px;
}

.pullquote-right {
	display:block;
	color:#a2a2a2;
	font-family:'Noto Serif', serif;
	font-size:14px;
	line-height:1.6em;
	padding-right:20px;
}

/* --- button --- */
.btn
{
    text-align: center !important;
    color: #FFFFFF;
    background: #d6010d !important;
    border-color: #d6010d !important;
    width: auto;
    border-radius: 0;
    
}
.btn-theme {
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
	padding: 12px 30px;
	font-weight: bold;
}
.btn-theme:hover {
	color: #eee;
}

/* --- list style --- */

ul.general {
	list-style:none;
	margin-left:0;
}

ul.link-list{
	margin:0;
	padding:0;
	list-style:none;
}

ul.link-list li{
	margin:0;
	padding:2px 0 2px 0;
	list-style:none;
}
footer{background: #1e1e1e;}
footer ul.link-list li a{
	color: #8C8C8C;
}
footer ul.link-list li a:hover {
	color: #d6010d;
}
/* --- Heading style --- */

h4.heading {
	font-weight:700;
}

.heading { margin-bottom: 30px; }

.heading {
	position: relative;
	
}


.widgetheading {
	width:100%;
	padding:0;
	font-weight: bold;
}

#bottom .widgetheading {
	position: relative;
	border-bottom: #e6e6e6 1px solid;
	padding-bottom: 9px;
}

aside .widgetheading {
	position: relative;
	border-bottom: #e9e9e9 1px solid;
	padding-bottom: 9px;
}

footer .widgetheading {
	position: relative;
}

footer .widget .social-network {
	position:relative;
}

.team-member h4{
  text-align: center;
  margin-bottom: 5px;
}
.team-member .deg{
text-align:center;
display:block;
}
#bottom .widget .widgetheading span, aside .widget .widgetheading span, footer .widget .widgetheading span {	
	position: absolute;
	width: 60px;
	height: 1px;
	bottom: -1px;
	right:0;

}
.panel-title>a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}
.box-area{padding: 15px;background: #ffffff;margin-top: -21px;border: 2px solid #f3f3f3;}
.box-area h3{font-size: 17px;font-weight: 600;}
/* --- Map --- */
.map{
	position:relative;
	margin-top:-50px;
	margin-bottom:40px;
}

.map iframe{
	width:100%;
	height:450px;
	border:none;
}

.map-grid iframe{
	width:100%;
	height:350px;
	border:none;
	margin:0 0 -5px 0;
	padding:0;
}

 
ul.team-detail{
	margin:-10px 0 0 0;
	padding:0;
	list-style:none;
}

ul.team-detail li{
	border-bottom:1px dotted #e9e9e9;
	margin:0 0 15px 0;
	padding:0 0 15px 0;
	list-style:none;
}

ul.team-detail li label {
	font-size:13px;
}

ul.team-detail li h4, ul.team-detail li label{
	margin-bottom:0;
}

ul.team-detail li ul.social-network {
	border:none;
	margin:0;
	padding:0;
}

ul.team-detail li ul.social-network li {
	border:none;	
	margin:0;
}
ul.team-detail li ul.social-network li i {
	margin:0;
}

 .navbar-brand i {
    color: #d6010d;
    font-size: 26px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.pricing-title{
	background:#fff;
	text-align:center;
	padding:10px 0 10px 0;
}

.pricing-title h3{
	font-weight:600;
	margin-bottom:0;
}

.pricing-offer{
	background: #fcfcfc;
	text-align: center;
	padding:40px 0 40px 0;
	font-size:18px;
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
}

.pricing-box.activeItem .pricing-offer{
	color:#fff;
}

.pricing-offer strong{
	font-size:78px;
	line-height:89px;
}

.pricing-offer sup{
	font-size:28px;
}

.pricing-container{
	background: #fff;
	text-align:center;
	font-size:14px;
}

.pricing-container strong{
color:#353535;
}

.pricing-container ul{
	list-style:none;
	padding:0;
	margin:0;
}

.pricing-container ul li{
	border-bottom: 1px solid #CFCFCF;
list-style: none;
padding: 15px 0 15px 0;
margin: 0 0 0 0;
color: #222;
}

.pricing-action{
	margin:0;
	background: #fcfcfc;
	text-align:center;
	padding:20px 0 30px 0;
}

.pricing-wrapp{
	margin:0 auto;
	width:100%;
	background:#fd0000;
}
 .pricing-box-item {border: 1px solid #e6e6e6;background:#fcfcfc;position:relative;margin:0 0 20px 0;padding:0;-webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.03);-moz-box-shadow: 0 2px 0 rgba(0,0,0,0.03);box-shadow: 0 2px 0 rgba(0,0,0,0.03);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;overflow: hidden;}

.pricing-box-item .pricing-heading {
	background: #ffffff;
	text-align: center;
	padding: 50px 0;
	display:block;
}
.pricing-box-item.activeItem .pricing-heading {
	/* background: #f3f3f3; */
	text-align: center;
	border-bottom:none;
	display:block;
	color:#fff;
}
.pricing-box-item.activeItem .pricing-heading h3 {
	 
color: #fff;
}

.pricing-box-item .pricing-heading h3 strong {
	font-size:28px;
	font-weight:700;
	letter-spacing:-1px;
	color: #05142b;
}
.pricing-box-item .pricing-heading h3 {
	font-size:32px;
	font-weight:300;
	letter-spacing:-1px;
}

.pricing-box-item .pricing-terms {
	text-align: center;
	background: #fff;
	display: block;
	overflow: hidden;
	padding: 11px 0 5px;
	/* border-top: 2px solid #BBBBBB; */
	border-bottom: 2px dotted #CDCDCD;
}

.pricing-box-item .pricing-terms  h6 {
	margin-top: 16px;
	color: #ff5722;
	font-size: 22px;
}

.pricing-box-item .icon .price-circled {
    margin: 10px 10px 10px 0;
    display: inline-block !important;
    text-align: center !important;
    color: #fff;
    width: 68px;
    height: 68px;
	padding:12px;
    font-size: 16px;
	font-weight:700;
    line-height: 68px;
    text-shadow:none;
    cursor: pointer;
    background-color: #888;
    border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
}

.pricing-box-item  .pricing-action{
	margin:0;
	text-align:center;
	padding:30px 0 30px 0;
}
.pricing-action .btn{
	background: #ff5722;
	color: #fff;
} 
.menuItem .menu{font-size:20px;font-weight:600;list-style:none;padding:0 0 15px;margin-bottom:20px;display:inline-block;color: #d6010d;}
.menuItem .menu li{padding: 16px 30px 0px;margin-bottom: 0;display:inline-block;width:100%;float:left;background: #ffffff;line-height: 30px;border-left: 2px solid #d6010d;border-radius: 0;}
.menuItem .detail{
font-size:13px;
color:#444;
font-weight:normal;
}
.menuItem .price{
font-size:13px;
float:right;
font-weight:600;
}
/* Testimonials */
.testimonials blockquote {
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    font-size: 13px;
    line-height: 20px;
    padding: 15px;
    position: relative;
}
.testimonials blockquote::before {
    width: 0; 
    height: 0;
	right: 0;
	bottom: 0;
	content: " "; 
	display: block; 
	position: absolute;
    border-bottom: 20px solid #fff;    
	border-right: 0 solid transparent;
	border-left: 15px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-bottom-style: inset; /*FF fixes*/
}
.testimonials blockquote::after {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #c5c5c5 transparent transparent transparent;
}
.testimonials .carousel-info img {
    border: 1px solid #cccccc;
    border-radius: 150px !important;
    height: 75px;
    padding: 3px;
    width: 75px;
}
.testimonials .carousel-info {
    overflow: hidden;
}
.testimonials .carousel-info img {
    margin-right: 15px;
}
.testimonials .carousel-info span {
    display: block;
}
.testimonials span.testimonials-name {
    color: #d6010d;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0 7px;
}
.testimonials span.testimonials-post {
    color: #656565;
    font-size: 12px;
}
/* ===== Widgets ===== */

/* --- flickr --- */
.widget .flickr_badge {
	width:100%;
}
.widget .flickr_badge img { margin: 0 9px 20px 0; }

footer .widget .flickr_badge {
    width: 100%;
}
footer .widget .flickr_badge img {
    margin: 0 9px 20px 0;
}

.flickr_badge img {
    width: 50px;
    height: 50px;
    float: left;
	margin: 0 9px 20px 0;
}
 
/* --- Recent post widget --- */

.recent-post{
	margin:20px 0 0 0;
	padding:0;
	line-height:18px;
}

.recent-post h5 a:hover {
	text-decoration:none;
}

.recent-post .text h5 a {
	color:#353535;
}

  
footer{
	padding:50px 0 0 0;
	color:#f8f8f8;
}

footer a {
	color:#fff;
}

footer a:hover {
	color: #d6010d;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6{
	color: #d3d3d3;
}

footer address {
	line-height:1.6em;
	color: #797979;
}

footer h5 a:hover, footer a:hover {
	text-decoration:none;
}

ul.social-network {
	list-style:none;
	margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

ul.social-network li {
	text-align: center;
	height: 100%;
	vertical-align: baseline;
    display: flex;
    align-items: center;
    border-right: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
}
ul.social-network li:last-child {
    border: none !important;
}

#sub-footer{
	text-shadow:none;
	color: #dedede;
	padding:0;
	padding-top:30px;
	margin:20px 0 0 0;
	background: #1e1e1e;
	border-top: 1px solid #3e3e3e;
}

#sub-footer p{
	margin:0;
	padding:0;
}

#sub-footer span{
	color: #9e9e9e;
}

.copyright {
	text-align:left;
	font-size:12px;
}

#sub-footer ul.social-network {
	float:right;
}

  

/* scroll to top */
.scrollup{
    position:fixed;
    width:32px;
    height:32px;
    bottom:0px;
    right:20px;
    background: #d6010d;
}

a.scrollup {
	outline:0;
	text-align: center;
}

a.scrollup:hover,a.scrollup:active,a.scrollup:focus {
	opacity:1;
	text-decoration:none;
}
a.scrollup i {
	margin-top: 10px;
	color: #fff;
}
a.scrollup i:hover {
	text-decoration:none;
}



 
.absolute{
	position:absolute;
}

.relative{
	position:relative;
}

.aligncenter{
	text-align:center;
}

.aligncenter span{
	margin-left:0;
}

.floatright {
	float:right;
}

.floatleft {
	float:left;
}

.floatnone {
	float:none;
}

.aligncenter {
	text-align:center;
}
 
img.pull-left, .align-left{
	float:left;
	margin:0 15px 15px 0;
}

.widget img.pull-left {
	float:left;
	margin:0 15px 15px 0;
}

img.pull-right, .align-right {
	float:right;
	margin:0 0 15px 15px;
}

article img.pull-left, article .align-left{
	float:left;
	margin:5px 15px 15px 0;
}

article img.pull-right, article .align-right{
	float:right;
	margin:5px 0 15px 15px;
}
 ============================= */

.clear-marginbot{
	margin-bottom:0;
}

.marginbot10{
	margin-bottom:10px;
}
.marginbot20{
	margin-bottom:20px;
}
.marginbot30{
	margin-bottom:30px;
}
.marginbot40{
	margin-bottom:40px;
}

.clear-margintop{
	margin-top:0;
}

.margintop10{
	margin-top:10px;
}

.margintop20{
	margin-top:20px;
}

.margintop30{
	margin-top:30px;
}

.margintop40{
	margin-top:40px;
}
.flex-control-paging li a {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffffff;
  text-indent: 50px;
  overflow: hidden;
}
.btn:hover, .btn:focus {
  color: #FFF;
  text-decoration: none;
  background: #03a9d5;
  border-color: #03a9d5;
}
/*  Media queries 
============================= */
@media (min-width: 913px) and (max-width: 979px) {
#quoteForm label
{
 width:100%;
 text-align:left;

}
.flex-caption h2{
    font-size:20px;
}
#tracking-form .row
{
   margin-bottom:20px;
}
#quoteForm {
    background: #d6010d;
    padding: 10px 50px;
}
}
@media (min-width: 768px) and (max-width: 979px) {
    .dishes
    {
       margin-top: 100px;
    }
    #tracking-form{
        width: 80%;
        margin-top: 69px;
        
    }
    .flex-caption {
    width: 90% !important;
    }
.track_btn 
{
    width: 150px;
}
#quoteForm input {
    width: 100%;
}
#sendto {
    padding-left: 50px;
 
}
header ul.nav li a
{
    font-size: 15px !important;
}
.desktop_hidden
{
  display:none;
}
#quoteForm h2
{ 
  font-size:25px;
  margin-bottom: 10px;
  margin-top:0px;


}
#quoteForm {
    padding: 20px 30px 1px 30px;
}
#tracking-form {
    margin-bottom: 17px;
}
.topbar .col-sm-3
{
 display:none;
}


.container {
    padding-left: 0px;
    padding-right: 0px;
}
	a.detail{
		background:none;
		width:100%;
	}
.logo {
    width: 124px;
}


	
	footer .widget form  input#appendedInputButton {
		  display: block;
		  width: 91%;
		  -webkit-border-radius: 4px 4px 4px 4px;
			 -moz-border-radius: 4px 4px 4px 4px;
				  border-radius: 4px 4px 4px 4px;
	}
	
	footer .widget form  .input-append .btn {
		  display: block;
		  width: 100%;
		  padding-right: 0;
		  padding-left: 0;
		  -webkit-box-sizing: border-box;
			 -moz-box-sizing: border-box;
				  box-sizing: border-box;
				  margin-top:10px;
	}

	ul.related-folio li{
		width:156px;
		margin:0 20px 0 0;
	}	
}

@media (max-width: 767px) {
.account
{
    padding-top: 35px;
    padding-bottom: 0px;
}
.desktop_hidden
{
  display:block;
}
.mobile_hidden
{
    display: none;
}
button.btn.quote_btn
{
  width:40%;
  height: 40px;

}
.track_btn {
    position: absolute;
    right: 28px;
    top: 28px;
    height: 40px;
    width: 25%;
   
}
.track_btn {
    text-align: center !important;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    }
#tracking_id {
    margin-bottom: 0px !important;
}
.features img
{
   width: 150px;
}
.features .col p
{
    margin-top: 20px;
}
input#tracking_id::placeholder {
    font-size: 14px;
}
#quoteForm h2
{
 font-size:6vw;
 color:#fff;
 margin-top:20px;
}
.container
{
 margin-left: 0;
 margin-right: 0;
 max-width: 100%;
 width: 100%;
}
#quoteForm .row
{
  margin-bottom:0px;
  padding: 20px 0;
}
#quoteForm input {
    width: 92% !important;
    height: 35px !important;
}
.desktop_hidden #tracking-form {
    padding: 20px;
    margin-bottom: 0px;
    position: relative !important;
    margin-top: 0;
}
.topbar .col-sm-9
{
    width: 100%;
}
header .navbar-nav > li > a {
    line-height: 14px;
    padding-bottom: 20px;
    }
.topbar a {
    font-size: 2.35vw;
    }
    .topbar ul.info span {
    
    padding-right: 5px;
    padding-left: 5px;
}
.flex-caption
{
  display: none;
}
.features .col {

    padding: 25px 20px;
    border-bottom: 1px solid;
    border-right: 0;
    
}
#btnCalcTarrif {
    float: right;
}
span#login
{
    position: absolute;
    right: 2px;
}
.topbar ul.info li
{
  padding-left:0;
  float: none;
  font-size: 10px;
  text-align: center;
}

.reg_card {
    margin: 10px;
    padding: 0px 10% 10%;
}
.reg_card .card-body {
    padding-top: 0px;
}
.row, .row-fluid {
    margin-bottom: 10px;
}
.reg_card input{
    padding:0 10px !important;
    width:92% !important;
}
.reg_card .btn {
    width: 90% !important;
    margin-top: 30px;
}
.reg_card .card-header {
    font-size: 20px;
}

text-area
{
  overflow-y:scroll;
}
.step-content input,select
{
    width:95% !important;
}
.step-content textarea
{
    width: 100% !important;
    margin-left: 8px;
}
.topbar .col-sm-3
{
 display:none;
}
.container {
    padding-left: 0px;
    padding-right: 0px;
}
.logo {
    width: 124px;
    top: -50px !important;
}
.navbar-default .navbar-collapse{border-color: none;/* background: #05142b; */}
.navbar-default .navbar-toggle .icon-bar {background-color: #868686;border-radius: 0;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: rgba(221, 221, 221, 0);
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: rgba(255, 255, 255, 0.58);
margin-top: 15px;
}
.flex-caption h3{
	font-size:28px;
}
  body {
    padding-right: 0;
    padding-left: 0;
  }
	.navbar-brand {
		margin-top: 18px;
		border-bottom: none;
	}
	.navbar-header {
		/* margin-top: 20px; */
		border-bottom: none;
	}
	
	.navbar-nav {
		border-top: none;
		float: none;
		width: 100%;
	}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover {background: none;font-weight: 700;color: #d6010d;font-size: 14px;}
	header .navbar-nav > li {
padding-bottom: 2px;
padding-top: 3px;
}
.dishes h2
{
  font-size: 15px;
}
.dishes p
{
  font-size: 13px;
  margin-top: 0;
}
ul.nav li.dropdown a,.navbar .nav > li > a
{
    font-size: 14px;
    padding: 10px;
}
.account span a
{
    font-size: 15px;
}
.account img
{
    width: 20px;
}
.topbar ul.info li {
    line-height: 30px;
  }  
.features .col p,.btn_feature  {
    font-size: 13px;
}
#quoteForm input {
    font-size: 13px !important;
}
	header .nav li .dropdown-menu  {
		margin-top: 0;
	}

	.dropdown-menu {
	  position: absolute;
	  top: 0;
	  left: 40px;
	  z-index: 1000;
	  display: none;
	  float: left;
	  min-width: 160px;
	  padding: 5px 0;
	  margin: 2px 0 0;
	  font-size: 13px;
	  list-style: none;
	  background-color: #fff;
	  background-clip: padding-box;
	  border: 1px solid #f5f5f5;
	  border: 1px solid rgba(0, 0, 0, .15);
	  border-radius: 0;
	  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
			  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	}
	

	
	li.active  {
		border: none;
		overflow: hidden;
		/* background: #2e8eda; */
}

	
	.box {
		border-bottom:1px solid #e9e9e9;
		padding-bottom:20px;
	}

	.flexslider .slide-caption {
		width: 90%; 
		padding: 2%; 
		position: absolute; 
		left: 0; 
		bottom: -40px; 
	}


	#inner-headline .breadcrumb {
		float:left;
		clear:both;
		width:100%;
	}

	.breadcrumb > li {
		font-size:13px;
	}

	
	ul.portfolio li article a i.icon-48{
		width:20px;
		height:20px;
		font-size:16px;
		line-height:20px;
	}


	.left-sidebar{
		border-right:none;
		padding:0 0 0 0;
		border-bottom: 1px dotted #e6e6e6;
		padding-bottom:10px;
		margin-bottom:40px;
	}
	
	.right-sidebar{
		margin-top:30px;
		border-left:none;
		padding:0 0 0 0;
	}
	
	
	footer .col-lg-1, footer .col-lg-2, footer .col-lg-3, footer .col-lg-4, footer .col-lg-5, footer .col-lg-6, 
	footer .col-lg-7, footer .col-lg-8, footer .col-lg-9, footer .col-lg-10, footer .col-lg-11, footer .col-lg-12{
		margin-bottom:20px;
	}

	#sub-footer ul.social-network {
		float:left;
	}
	

	
  [class*="span"] {
		margin-bottom:20px;
  }

}

.logo{
    
}
}
@media (max-width: 480px) {
ul.stepper.horizontal .step .step-title {
    max-width: 100% !important;
}
.container {
    padding-left: 0px;
    padding-right: 0px;
}
.topbar .col-sm-3
{
 display:none;
}
.logo {
    width: 154px;
    top: -60px;
}
.account
{
    padding-bottom: 0;
}
	.bottom-article a.pull-right {
		float:left;
		margin-top:20px;
	}


	.search{
		float:left;
	}

	.flexslider .flex-caption {
		display:none;
	}


	.cta-text {
		margin:0 auto;
		text-align:center;	
	}
	
	ul.portfolio li article a i{
		width:20px;
		height:20px;
		font-size:14px;
	}


}
.tab-section .col{
	
}
.tab-section .container{
	padding: 15px;
	border: 1px solid #eaeaea;
	background: #fff;
}
.active .collapsible-header{color: #d6010df;} 
span.color {
    color: #d6010d;
    text-transform: uppercase;
}
.input-field label {
    color: #888;
	font-size:14px;
}
.input-field {
    position: relative;
    margin-top: 1rem;
    float: left;
    width: 100%;
}
.alert-danger { 
   
}

ul.stepper.horizontal .step .step-content,ul.stepper .step
{
 
  transition:none !important;
}
ul.stepper.horizontal .step.active .step-content {
    
}
@media (width: 1024px)
{
    .logo {
    width: 250px !important;
    }
    #tracking-form {
      margin-top: 25px;
    }
}
@media (min-width: 768px)
{
  .topbar .container .col-sm-9
  {
    width: 100% !important;
  }
  ul.stepper.horizontal .step .step-title {
    max-width: 100% !important;
}
}
.dropdown-menu {
    min-width: fit-content;
}
@media (max-width: 320px)
{
    .topbar a {
        font-size: 7.7px !important;

    }
    .logo
    {
        left: 10px;
    }
    ul.stepper.horizontal .step .step-title {
    max-width: 100% !important;
}
}
@media (min-width: 321) and (max-width: 387px)
{
  .topbar a {
    font-size: 9.4px;
  }
}
@media(max-width: 320px)
{

    .logo {
    width: 100px;
    top: -43px !important;
    left: 20px;
    }
.navbar-default .navbar-toggle {
    border-color: #ddd;
    margin-top: 16px;
    margin-right: 25px;
  }
}
@media (max-width: 280px)
{
    #tracking_id 
    {
        height: 30px !important;
    }
    header .navbar-nav > li > a
    {
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    input#tracking_id::placeholder {
        font-size: 10px;
    }
    .account span a
    {
        padding-left: 2px;
    }
    .features .col img
    {
       width: 150px;
       height: auto;
    }
    .btn_feature
    {
        font-size: 13px;
    }
    header ul.nav li a,ul.nav li.dropdown a
    {
        font-size: 12px;
    }
    .features .col
    {
        font-size: 12px;
    }
    .dishes h2
    {
        margin-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0;
        font-size: 20px;
    }
    .dishes p {
      font-size: 12px;
    }
    .info
    {
        display: none;
    }
    .account span a
    {
        font-size: 12px;
    }
    .track_btn 
    {
       height: 30px;
       top: 23px;
       right: 22px;
       font-size: 12px;
    }
    .account img
    {
        width: 12px;
    }
    .logo{
       left: 10px;
    }
    #quoteForm input {
    width: 92% !important;
    height: 25px !important;
    font-size: 12px !important;
    }
    #quoteForm .row
    {
        padding: 10px 0;
    }
    button.btn.quote_btn
    {
        font-size: 12px;
        height: 30px;
    }

}
