<!-- navbar -->
<template>
  <div>
  <div id="wrapper" class="home-page"> 
  
  <!-- start header -->
 
  <!-- end header -->
  <section id="banner">
   
  <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="img/slides/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Expert Services</h3> 
          <p>We create the opportunities</p> 
           
                </div>
              </li>
              <li>
                <img src="img/slides/2.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Creative Touch</h3> 
                 <p>Success depends on originality</p> 
           
                </div>
              </li>
            </ul>
        </div>
  <!-- end slider --> 
  </section>  
    <section class="dishes">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aligncenter"><h2 class="aligncenter">Uk</h2>
        <p>TCS has a strong presence not only in Pakistan but also in the UK. TCS UK provides a range of secure and reliable services with the aim of serving the Pakistani diaspora in UK and connecting Pakistanis and individuals around the world.</p>

 
<p>
TCS offers international delivery services - International Documents and Parcel Express Delivery - to over 3,500 destinations across the world through its extended International Network.
</p>
</div>
        <br/>
      </div>
    </div>
  
  <div class="row service-v1 margin-bottom-40">
            <div class="col-md-4 md-margin-bottom-40">
          <div class="card small">
                        <div class="card-image">
                             <img class="img-responsive" src="img/service1.jpg" alt="">  
                            <span class="card-title">Sentiments Express</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Pakistanis living in the UK can now send gifts to their loved ones in Pakistan.
                            </p>
                            
                        </div>
                    </div>        
            </div>
         <div class="col-md-4 md-margin-bottom-40">
          <div class="card small">
                        <div class="card-image">
                             <img class="img-responsive" src="img/service2.jpg" alt="">  
                            <span class="card-title">Studio by TCS</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Showcases carefully curated collections from an array of Pakistani designers and brings the best of Pakistani fashion to your doorstep
                            </p>
                           
                        </div>
                    </div>        
            </div>
         <div class="col-md-4 md-margin-bottom-40">
          <div class="card small">
                        <div class="card-image">
                             <img class="img-responsive" src="img/service3.jpg" alt="">  
                            <span class="card-title">Online Booking</span>
                        </div>
                        <div class="card-content">
                            <p>
                                You can book your shipments online for delivery to Pakistan or any other international destination.
                            </p>
                            <p class="center">
                            <a class="waves-effect waves-dark book-btn btn-primary btn modal-trigger" href="/booking">Book Online</a>

  
                            </p>
                            
                        </div>
                    </div>        
            </div> 
     </div>
     <div class="row">
    
  </div>
     <div class="row service-v1 margin-bottom-40">
        <div class="col-md-4 md-margin-bottom-40">
          <div class="card small">
                        <div class="card-image">
                             <img class="img-responsive" src="img/service3.jpg" alt="">  
                            <span class="card-title">Contact Us</span>
                        </div>
                        <div class="card-content">
                            <p>
                                In case of any queries, you can call our CS hotline or fill in the feedback form.
                            </p>
                            
                            
                        </div>
                    </div>        
            </div> 
        </div>
    </div>
    
    </section>





  <section id="content"> 
  <div class="container">
  
    <section class="services">
        <div class="row">
      <div class="col-md-12">
        <div class="aligncenter"><h2 class="aligncenter">Our Services</h2></div>
        <br/>
      </div>
    </div>

   <div class="row">
            <div class="col-sm-4 info-blocks"> 
        <i class="icon-info-blocks material-icons">track_changes</i>
                <div class="info-blocks-in">
                    <h3>Domestic Delivery</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">settings_input_svideo</i>
                <div class="info-blocks-in">
                    <h3>Warehousing and Distribution</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">queue_music</i>
                <div class="info-blocks-in">
                    <h3>Mail Management System</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
        </div>
<div class="row">
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">my_location</i>
                <div class="info-blocks-in">
                    <h3>TCS Cargo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">shuffle</i>
                <div class="info-blocks-in">
                    <h3>TCS Cool Control</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">tab_unselected</i>
                <div class="info-blocks-in">
                    <h3>TCS Travel and Visa</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
        </div>
    </section>
  </div>
  </section>
  
  <section class="section-padding gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2>Our Business</h2>
            <p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada Pellentesque <br>ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="about-text">
            <p>Grids is a responsive Multipurpose Template. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>

            <ul class="withArrow">
              <li><span class="fa fa-angle-right"></span> Lorem ipsum dolor sit amet</li>
              <li><span class="fa fa-angle-right"></span> consectetur adipiscing elit</li>
              <li><span class="fa fa-angle-right"></span> Curabitur aliquet quam id dui</li>
              <li><span class="fa fa-angle-right"></span> Donec sollicitudin molestie malesuada.</li>
            </ul>
            <a href="#" class="btn btn-primary waves-effect waves-dark">Learn More</a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="about-image">
            <img src="img/about.jpg" alt="About Images">
          </div>
        </div>
      </div>
    </div>
  </section>    
  
 
  
</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>
</div>
</template>
<!-- navbar -->