<template>
<div>

          <Header></Header>
          
          <navbar></navbar>
          <Footer></Footer>
</div>
</template>

<script>
    import Nav from './Layouts/nav.vue';
    import Header from './Layouts/header.vue';
    import Footer from './Layouts/footer.vue';
    import Book from './booking.vue';
    export default{
        components: {
            navbar: Nav,
            Header: Header,
            Footer: Footer
        }
    }
</script>
