<template>
<div>
      
<section id="content"> 
    <div class="container">
    <div class="section-title text-center">
    <h2>Online Booking & Pickup</h2>
    </div>
  <form action="booking_form_submit" method="post" class="booking-form col s6 require-validation" data-cc-on-file="false"
                        data-stripe-publishable-key="pk_test_nHdnFVtPkI4d8ELIgOlgQ6F3"
                        id="payment-form">
    

   <ul class="stepper linear horizontal">
   <li class="step active">
      <div class="step-title waves-effect">Shipper Information
       <p>Please enter your infomation and proceed to next step so we can build your account</p>
      </div>
      
      <div class="step-content">
         <!-- Your step content goes here (like inputs or so) -->
         <div class="row">
        <div class="col s12 m4 l4">
          <label for="mobile_no">Mobile Number </label>
          <input name="mobile_no" type="text" maxlength="20" id="mobile_no" class="form-control1 required validate valid">
          
        </div>
        <div class="col s12 m4 l4">
           <label for="name">Full Name</label>
          <input name="name" type="text" maxlength="30" id="name" class="form-control1 required validate valid">
         
        </div>
         <div class="col s12 m4 l4">
          <label for="comp_name">Company Name (if applicable)</label>
          <input name="comp_name" type="text" maxlength="30" id="comp_name" class="form-control1 validate valid">
          
        </div>
      </div>
        
      <div class="row">
       
        <div class="col s12 m4 l4">
          <label for="c_email">Email </label>
          <input name="c_email" type="text" maxlength="30" id="c_email" class="form-control1 required validate valid"  >
          
        </div>

        <div class="col s12 m4 l4">
        
        <select name="origin" id="origin" class="form-control1 required validate valid" aria-invalid="false"  >
            <option value="" selected disabled>Origin</option>
            <option value="GBR">United Kingdom</option>
        </select>
          
        </div>

        <div class="col s12 m4 l4">
          <label for="postcode">Postcode  </label>
          <input name="postcode" type="text" maxlength="10" onchange="" onkeypress="" id="postcode" class="form-control1 required validate valid" >
          
        </div>

      </div>
     
      

      <div class="row">
        <div class="col s12 m6 l6">
          <label for="city">City </label>
          <input name="city" type="text" maxlength="20" id="city" class="form-control1 required validate valid" >
          
        </div>
        <div class="col s12 m6 l6">
          <label for="address">Address</label>
          <textarea id="address" class="materialize-textarea required validate valid" length="120" ></textarea>
            
        </div>
      </div>

         <div class="step-actions">
            <!-- Here goes your actions buttons -->
            <button class="waves-effect waves-dark btn next-step">NEXT</button>
         </div>
      </div>
   </li>
   <li class="step" >
      <div class="step-title waves-effect">Recipient Information</div>
      <div class="step-content" style="display: none;">
         <!-- Your step content goes here (like inputs or so) -->

      <div class="row">
        <div class="col s12 m6 l6">
          <label for="c_mobile_no">Mobile Number </label>
          <input name="c_mobile_no" type="text" maxlength="20" id="c_mobile_no" class="form-control1 required validate valid" >
          
        </div>
        <div class="col s12 m6 l6">
          <label for="c_name">Name </label>
          <input name="c_name" type="text" maxlength="30" id="c_name" class="form-control1 required validate valid" >
          
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6 l6">
          <label for="c_comp_name">Company Name(if applicable) </label>
          <input name="c_comp_name" type="text" maxlength="30" id="5" class="form-control1  validate valid" >
          
        </div>
         <div class="col s12 m6 l6">
       
<select name="destination" id="destination" class="form-control1 required validate valid" >
<option value="" selected disabled>Destination</option>
<option value="AL">Albania</option>
<option value="DZ">Algeria</option>
<option value="AS">American Samoa</option>
<option value="AD">Andorra</option>
<option value="AO">Angola</option>
<option value="AI">Anguilla</option>
<option value="AG">Antigua</option>
<option value="AR">Argentina</option>
<option value="AM">Armenia</option>
<option value="AW">Aruba</option>
<option value="AU">Australia</option>
<option value="AT">Austria</option>
<option value="AZ">Azerbaijan</option>
<option value="">Azores</option>
<option value="BS">Bahamas</option>
<option value="BH">Bahrain</option>
<option value="">Balearic Islands</option>
<option value="BD">Bangladesh</option>
<option value="BB">Barbados</option>
<option value="">Barbuda</option>
<option value="BY">Belarus</option>
<option value="BE">Belgium</option>
<option value="BZ">Belize</option>
<option value="BJ">Benin</option>
<option value="BM">Bermuda</option>
<option value="BT">Bhutan</option>
<option value="BO">Bolivia</option>
<option value="AN">Bonaire</option>
<option value="BA">Bosnia-Herzegovina</option>
<option value="BW">Botswana</option>
<option value="BR">Brazil</option>
<option value="BN">Brunei</option>
<option value="BG">Bulgaria</option>
<option value="BF">Burkina Faso</option>
<option value="BI">Burundi</option>
<option value="KH">Cambodia</option>
<option value="CM">Cameroon</option>
<option value="CA">Canada</option>
<option value="IC">Canary Islands</option>
<option value="CPV">Cape Verde</option>
<option value="CYM">Cayman Islands</option>
<option value="CF">Central African Rep</option>
<option value="TD">Chad</option>
<option value="CL">Chile</option>
<option value="CN">China</option>
<option value="CO">Colombia</option>
<option value="CG">Congo</option>
<option value="COD">Congo Dem. Rep</option>
<option value="CK">Cook Islands</option>
<option value="">Corsica</option>
<option value="CR">Costa Rica</option>
<option value="HR">Croatia</option>
<option value="XC">Curacao</option>
<option value="CY">Cyprus</option>
<option value="CZ">Czech Republic</option>
<option value="DK">Denmark</option>
<option value="DJ">Djibouti</option>
<option value="DM">Dominica</option>
<option value="DO">Dominican Republic</option>
<option value="EC">Ecuador</option>
<option value="EG">Egypt</option>
<option value="SV">El Salvador</option>
<option value="GQ">Equatorial Guinea</option>
<option value="ER">Eritrea</option>
<option value="EE">Estonia</option>
<option value="ET">Ethiopia</option>
<option value="FRO">Faroe Islands</option>
<option value="FJ">Fiji</option>
<option value="FI">Finland</option>
<option value="FR">France - Others</option>
<option value="FR">France - Paris (75-95)</option>
<option value="GF">French Guiana</option>
<option value="PYF">French Polynesia</option>
<option value="GA">Gabon</option>
<option value="GE">Georgia</option>
<option value="DE">Germany</option>
<option value="GH">Ghana</option>
<option value="GI">Gibraltar</option>
<option value="GR">Greece</option>
<option value="GL">Greenland</option>
<option value="GD">Grenada</option>
<option value="GP">Guadeloupe</option>
<option value="GU">Guam </option>
<option value="GT">Guatemala</option>
<option value="GG">Guernsey</option>
<option value="GN">Guinea</option>
<option value="GW">Guinea-Bissau</option>
<option value="GY">Guyana</option>
<option value="HT">Haiti</option>
<option value="HN">Honduras</option>
<option value="HK">Hong Kong</option>
<option value="HU">Hungary</option>
<option value="IS">Iceland</option>
<option value="IN">India</option>
<option value="ID">Indonesia</option>
<option value="IR">Iran</option>
<option value="IQ">Iraq</option>
<option value="IE">Ireland</option>
<option value="IL">Israel</option>
<option value="IT">Italy</option>
<option value="CI">Ivory Coast</option>
<option value="JM">Jamaica</option>
<option value="JP">Japan</option>
<option value="JE">Jersey</option>
<option value="JO">Jordan</option>
<option value="KZ">Kazakhstan</option>
<option value="KE">Kenya</option>
<option value="">Korea, South</option>
<option value="KW">Kuwait</option>
<option value="KG">Kyrgyzstan</option>
<option value="LA">Laos</option>
<option value="LV">Latvia</option>
<option value="LB">Lebanon</option>
<option value="LS">Lesotho</option>
<option value="LR">Liberia</option>
<option value="LY">Libya</option>
<option value="LI">Liechtenstein</option>
<option value="LT">Lithuania</option>
<option value="LU">Luxembourg</option>
<option value="MO">Macau</option>
<option value="MK">Macedonia</option>
<option value="MG">Madagascar</option>
<option value="">Madeira</option>
<option value="MW">Malawi</option>
<option value="MY">Malaysia</option>
<option value="MV">Maldives</option>
<option value="ML">Mali</option>
<option value="MT">Malta</option>
<option value="MH">Marshall Islands</option>
<option value="MQ">Martinique</option>
<option value="MR">Mauritania</option>
<option value="MU">Mauritius</option>
<option value="MX">Mexico</option>
<option value="FSM">Micronesia</option>
<option value="MD">Moldova</option>
<option value="MC">Monaco</option>
<option value="MN">Mongolia</option>
<option value="MS">Monserrat</option>
<option value="MA">Morocco</option>
<option value="MZ">Mozambique</option>
<option value="MM">Myanmar</option>
<option value="NA">Namibia</option>
<option value="NP">Nepal</option>
<option value="NL">Netherlands</option>
<option value="NL">Netherlands Antilles</option>
<option value="NCL">New Caledonia</option>
<option value="NZ">New Zealand</option>
<option value="NI">Nicaragua</option>
<option value="NE">Niger</option>
<option value="NG">Nigeria</option>
<option value="">Northern Ireland</option>
<option value="NO">Norway</option>
<option value="OM">Oman</option>
<option value="">Pacific Islands</option>
<option value="PK">Pakistan</option>
<option value="PW">Palau</option>
<option value="PA">Panama</option>
<option value="PG">Papua New Guinea</option>
<option value="PY">Paraguay</option>
<option value="PE">Peru</option>
<option value="PH">Philippines</option>
<option value="PO">Poland</option>
<option value="PT">Portugal</option>
<option value="PR">Puerto Rico</option>
<option value="QA">Qatar</option>
<option value="RE">Reunion Islands</option>
<option value="RO">Romania</option>
<option value="RU">Russia - Moscow</option>
<option value="RU">Russia - Others</option>
<option value="RW">Rwanda</option>
<option value="">Saba</option>
<option value="MP">Saipan</option>
<option value="SMR">San Marino</option>
<option value="">Sardinia</option>
<option value="SAU">Saudi Arabia</option>
<option value="SEN">Senegal</option>
<option value="RS">Serbia &amp; Montenegro</option>
<option value="SC">Seychelles</option>
<option value="SL">Sierra Leone</option>
<option value="SG">Singapore </option>
<option value="SK">Slovakia</option>
<option value="SI">Slovenia</option>
<option value="ZA">South Africa</option>
<option value="ES">Spain</option>
<option value="LK">Sri Lanka</option>
<option value="LK">Srilanka</option>
<option value="LC">St Lucia</option>
<option value="SM">St Maarten</option>
<option value="VC">St Vincent</option>
<option value="AA">St. Barthelemy</option>
<option value="SS">St. Eustatius</option>
<option value="KN">St. Kitts &amp; Nevis</option>
<option value="SD">Sudan</option>
<option value="SR">Suriname</option>
<option value="SZ">Swaziland</option>
<option value="SE">Sweden</option>
<option value="CH">Switzerland</option>
<option value="SY">Syria</option>
<option value="TW">Taiwan</option>
<option value="TJ">Tajikistan</option>
<option value="TZ">Tanzania</option>
<option value="TH">Thailand</option>
<option value="TG">Togo</option>
<option value="TT">Trinidad &amp; Tobago</option>
<option value="TN">Tunisia</option>
<option value="TR">Turkey</option>
<option value="TM">Turkmenistan</option>
<option value="TC">Turks &amp; Caicos</option>
<option value="AE">UAE</option>
<option value="UG">Uganda</option>
<option value="UA">Ukraine</option>
<option value="UY">Uruguay</option>
<option value="">USA</option>
<option value="UZ">Uzbekistan</option>
<option value="VU">Vanuatu</option>
<option value="VA">Vatican City</option>
<option value="VE">Venezuela</option>
<option value="VM">Vietnam</option>
<option value="VG">Virgin Islands</option>
<option value="WF">Wallis &amp; Fortuna</option>
<option value="YE">Yemen, Rep of</option>
<option value="ZM">Zambia</option>
<option value="ZW">Zimbabwe</option>
<option value="">TCS</option>
<option value="GB">UK</option>
        </select>
          
        </div>
      </div>

    
      <div class="row">
        <div class="col s12 m3 l3">
          <label for="d_postcode">Postcode  </label>
          <input name="d_postcode" type="text" maxlength="10" onchange="" onkeypress="" id="d_postcode" class="form-control1 required validate valid" >
          
        </div>
         <div class="col s12 m3 l3">
         <label for="d_city">City </label>
          <input name="d_city" type="text" maxlength="10" id="d_city" class="form-control1 required validate valid" >
                  </div>
        <div class="col s12 m3 l3">
          <label for="d_address">Address</label>
          <textarea id="d_address" name="d_address" class="materialize-textarea required validate valid" length="120" ></textarea>
            
        </div>
      </div>
      
     

      <div class="row">
        
      </div>





























      
         <div class="step-actions">
            <!-- Here goes your actions buttons -->
            <button class="waves-effect waves-dark btn next-step">NEXT</button>
         </div>
      </div>
   </li>
   <li class="step" >
      <div class="step-title waves-effect">Booking Details</div>
      <div class="step-content" style="display: none;">
         <!-- Your step content goes here (like inputs or so) -->
         <div class="row">
        <div class="col s12 m4 l4">
          <label for="num_pieces">No. of Pieces</label>
          <input name="num_pieces" type="text" value="1" maxlength="4" id="txtPcs" class="form-control1 numericfield required validate valid" onkeypress="" required>
          
        </div>
        <div class="col s12 m4 l4">
           <label for="txtShipValue">Shipment Value</label>
          <input name="txtShipValue" type="text" maxlength="10" id="txtShipValue" class="form-control1 required validate valid" placeholder="e.g 1 GBP">
         
        </div>
        <div class="col s12 m4 l4">
            <select name="country_code" id="country_code" class="form-control1 required validate valid">
                <option selected="selected" value="D">Doc</option>
                <option value="N">Non-Doc</option>
            </select>
        </div>
      </div>
        

      <div class="row">
        <div class="col s12 m6 l6">
          <label for="ship_content">Shipment content description</label>
          <input name="ship_content" type="text" maxlength="100" id="ship_content" class="form-control1 required validate valid">
          
        </div>
        <div class="col s12 m6 l3">
          <label for="ship_vaue">Exp. Weight (Kg)</label>
          <input name="ship_vaue" type="text" maxlength="10" id="ship_vaue" class="form-control1 required validate valid" placeholder="e.g 1 GBP">
          
        </div>
         <div class="col s12 m6 l3">
          <select name="weight" id="weight" class="form-control1 required validate valid">
                                            <option value="" selected disabled>Exp. Weight (Kg)</option>
                                            <option value="0.5">0.5</option>
                                            <option value="1.0">1.0</option>
                                            <option value="1.5">1.5</option>
                                            <option value="2.0">2.0</option>
                                            <option value="2.5">2.5</option>
                                            <option value="3.0">3.0</option>
                                            <option value="3.5">3.5</option>
                                            <option value="4.0">4.0</option>
                                            <option value="4.5">4.5</option>
                                            <option value="5.0">5.0</option>
          </select>
        </div>
      </div>
      <div class="row">

          <div class="col s2 m2 l2">
            <label for="txtLength">Length</label>
            <input name="txtLength" type="text" maxlength="4" id="txtLength" class="form-control1 required validate valid btnweighttotal" placeholder="L">
          </div>
          <div class="col s2 m2 l2">
            <label for="txtLength">Weight</label>
            <input name="txtWidth" type="text" maxlength="4" id="txtWidth" class="form-control1 required validate valid btnweighttotal" placeholder="W">  
          </div>
          <div class="col s2 m2 l2">
            <label for="txtLength">Height</label>
            <input name="txtHeight" type="text" maxlength="4" id="txtHeight" class="form-control1 required validate valid btnweighttotal" placeholder="H">
          </div>
          <div class="col s3 m3 l3">
          <label for="volume">Volum.Wgt(cm) </label>
              <button name="btnCalcWeight"  v-on:click="setVolume" id="btnCalcWeight" class="btn btn-danger required validate valid btn1" type="button"><i class="fas fa-calculator"></i> Calculate</button>
          </div>
    
        <div class="col s3 m3 l3">
          <label for="volume">Volum.Wgt(cm) </label>
          <input name="volume" type="text" readonly="readonly" id="volume" class="form-control1 required validate valid" onkeypress="">  
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6 l6">
        <label for="service">Service</label>
        <select class="form-control1 required validate valid" data-live-search="True" id="service_code" name="service_code">
              <option value="" selected disabled>Service</option>
              <option value="401">Collection Next Day (Monday-Friday)</option>
        </select>
        </div>
        <div class="col s12 m6 l6">
          <label for="agent_code">Promo Code</label>
          <input name="agent_code" type="text" maxlength="100" onkeypress="" id="agent_code" class="form-control1 required validate valid">
          
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6 l6">
           <label for="instructions">Special Instruction</label>
           <input name="instructions" type="text" maxlength="30" id="instructions" class="form-control1 validate valid">
          
        </div>
        <div class="col s12 m6 l6">
          <select name="pay_mode" id="pay_mode" class="form-control1 required validate valid">
              <option value="" selected disabled>Mode of Payment</option>
              <option value="Credit Card">Credit Card</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
         <input name="tarrif" type="text" maxlength="4" id="tarrif" class="form-control1 required validate valid" readonly="readonly" >
          <label for="tarrif">Calculate Tariff</label>
           <button name="btnCalcTarrif"  v-on:click="setTarrif" id="btnCalcTarrif" class="btn btn-danger btn1" type="button"><i class="fas fa-calculator"></i> Calculate</button>
        </div>
      </div>
         <div class="step-actions">
            <!-- Here goes your actions buttons -->
            <button v-on:click="setDetails" class="waves-effect waves-dark btn next-step ">Next</button>
         </div>
      </div>
   </li>
   <li class="step">
      <div class="step-title waves-effect">Payment</div>
      <div class="step-content" style="display: none;">
      <!-- Your step content goes here (like inputs or so) -->
          <div class="row">
            <div class="col s12 m6 l6">
              <div class="card">
                <div class="card-header">Shipper</div>
                <div class="card-content">
                  <div class="row">
                      <div class="col s12 m6 l6">
                        <label for="mobile_no_1">Mobile Number </label>
                        <input name="mobile_no_1" type="text" maxlength="20" id="mobile_no_1" class=" form-control1 numericfield" readonly="readonly">
                      </div>
                      <div class="col s12 m6 l6">
                         <label for="name">Full Name</label>
                        <input name="name_1" type="text" maxlength="30" id="name_1" class="form-control1" readonly="readonly">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12 m3 l3">
                        <label for="postcode_1">Postcode  </label>
                        <input name="postcode_1" type="text" maxlength="10" onchange="" onkeypress="" id="postcode_1" class="form-control1" readonly="readonly">
                      </div>
                      <div class="col s12 m3 l3">
                        <label for="city_1">City </label>
                        <input name="city_1" type="text" maxlength="10" id="city_1" class="form-control1" readonly="readonly">
                      </div>
                      <div class="col s12 m6 l6">
                        <label for="address_1">Address</label>
                        <textarea id="address_1" class="materialize-textarea" length="120" readonly="readonly"></textarea>
                      </div>
                  </div>
                </div> 
              </div><!-- end card -->
            </div>
            <div class="col s12 m6 l6">
              <div class="card">
                <div class="card-header">Recipient</div>
                <div class="card-content">
                  <div class="row">
                      <div class="col s12 m6 l6">
                        <label for="c_mobile_no_1">Mobile Number </label>
                        <input name="c_mobile_no_1" type="text" maxlength="20" id="c_mobile_no_1" class=" form-control1 numericfield" readonly="readonly">
                      </div>
                      <div class="col s12 m6 l6">
                         <label for="c_name_1">Full Name</label>
                        <input name="c_name_1" type="text" maxlength="30" id="c_name_1" class="form-control1" readonly="readonly">
                      </div>
                  </div>
                  <div class="row">
                    <div class="col s12 m3 l3">
                      <label for="d_postcode_1">Postcode  </label>
                      <input name="d_postcode_1" type="text" maxlength="10" onchange="" onkeypress="" id="d_postcode_1" class="form-control1" readonly="readonly">
                    </div>
                    <div class="col s12 m3 l3">
                      <label for="d_city_1">City </label>
                      <input name="d_city_1" type="text" maxlength="10" id="d_city_1" class="form-control1" readonly="readonly">
                    </div>
                    <div class="col s12 m6 l6">
                        <label for="d_address_1">Address</label>
                        <textarea id="d_address_1" class="materialize-textarea" length="120" readonly="readonly"></textarea> 
                    </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col l6'>
              <label class='control-label'>Card Number</label> 
              <input autocomplete='off' class='form-control1 card-number required validate valid' size='20'type='text'>
            </div>
            <div class='col l6'>
              <label class='control-label'>CVC</label> 
              <input autocomplete='off'class='form-control1 card-cvc required validate valid' placeholder='ex. 311' size='4' type='text'>
            </div>
          </div>
          <div class='row'>
            <div class='col l6'>
              <label class='control-label'>Expiration Month</label> 
              <input class='form-control1 card-expiry-month required validate valid' placeholder='MM' size='2'type='text'>
            </div>
            <div class='col l6'>
              <label class='control-label'>Expiration Year</label> 
              <input class='form-control1 card-expiry-year required validate valid' placeholder='YYYY' size='4'type='text'>
            </div>
          </div>
         
      
         <div class="step-actions">
            <!-- Here goes your actions buttons -->
             <input class="waves-effect waves-dark btn" type="submit" value='Pay Now'></button>
         </div>
        </div>
      

                      
   </li>
</ul>
     

</form>
      
   
</div>
</section>
      


 
  </div>
</template>



<script>
   
    import Header from './Layouts/header.vue';
    import Footer from './Layouts/footer.vue';
    export default{
        components: {
        
           
        },
        mounted: function() {
        
      },
      methods: {

    setDetails: function (event)
    {
         document.getElementById('mobile_no_1').value=document.getElementById('mobile_no').value;
         document.getElementById('name_1').value=document.getElementById('name').value;
         document.getElementById('postcode_1').value=document.getElementById('postcode').value;
         document.getElementById('city_1').value=document.getElementById('city').value;
         document.getElementById('address_1').value=document.getElementById('address').value;

         document.getElementById('c_mobile_no_1').value=document.getElementById('c_mobile_no').value;
         document.getElementById('c_name_1').value=document.getElementById('c_name').value;
         document.getElementById('d_postcode_1').value=document.getElementById('d_postcode').value;
         document.getElementById('d_city_1').value=document.getElementById('d_city').value;
         document.getElementById('d_address_1').value=document.getElementById('d_address').value;
    },
    setTarrif: function (event)
    {
        var destination=document.getElementById('destination').value;
        var weight=document.getElementById('weight').value;
        
    $.ajax(
    {
        type: "GET",
        url: 'get_zone'+'/'+destination+'/'+weight,
        dataType: "json",
        success: function(result) {
           
           document.getElementById('tarrif').value=result;
          
        },
        error: function(x, e) {

        }
    });


    },
    setVolume: function (event) {
      // `this` inside methods points to the Vue instance
     var length=document.getElementById('txtLength').value;
     var width=document.getElementById('txtWidth').value;
     var height=document.getElementById('txtHeight').value;
     document.getElementById('volume').value=length*width*height;
    }
  }

    }
</script>
